# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
instance/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# Project specific
restaurant_management_api/instance/
restaurant_management_api/myenv/
restaurant_management_api/flask_session/
restaurant_management_frontend/dist/
upload/
*.log
*.sqlite
*.db 